.vs-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  transition: all 0.5s ease-in-out;

  &.visible {
    visibility: visible;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 58vmin;
    @include breakpoint('small') {
      max-width: 50vmin;
    }

    &--1 {
      justify-content: flex-start;
      align-self: flex-start;
      padding-top: 8vmin;
      padding-left: 8vmin;
    }
    &--2 {
      margin-left: auto;
      justify-content: flex-end;
      padding-bottom: 8vmin;
      padding-right: 8vmin;
    }
  }

  &__player {
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;

    &--1 {
      top: -100%;
      bottom: 100%;
      clip-path: polygon(0 0, 0 95%, 95% 0);
      background-color: var(--accent-color);
      &.visible {
        top: 0;
        bottom: 0;
      }
    }
    &--2 {
      top: 100%;
      bottom: -100%;
      clip-path: polygon(100% 5%, 100% 100%, 5% 100%);
      background-color: var(--lighter-blue);
      &.visible {
        top: -100%;
        bottom: 0;
      }
    }
  }

  &__vs {
    position: absolute;
    width: 40vmin;
    height: auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -20vmin;
    margin-top: -20vmin;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  // &__img {
  //   &--1 {
  //   }
  //   &--2 {
  //   }
  // }
}
