.btn {
  background-color: var(--dark-blue);
  position: relative;
  width: 18rem;
  height: 6rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 0.5rem;
  transition: 0.5s;
  outline: none;
  border: none;
  font-family: var(--secondary-font);
  font-size: 3rem;
  cursor: pointer;

  &--rematch {
    background-color: var(--shadow-light-blue);
    color: var(--dark-blue);
  }
}

.btn:hover {
  background: #ecc90b url(/images/pixel.png);
  transition-delay: 0.8s;
  animation: animate 0.8s steps(8) forwards;
  color: var(--dark-blue);
}
