:root {
  --dark-blue: #12232e;
  --lighter-blue: #007cc7;
  --lightest-blue: #4da8da;
  --shadow-dark-dlue: #203647;
  --shadow-light-blue: #eefbfb;
  --blackish: #202020;
  --dark-grey: #3f3f3f;
  --medium-grey: #707070;
  --accent-color: #ecc90b;
  --accent-color-two: #ec0b83;
  --white: #ffffff;
  --primary-font: 'Press Start 2P', cursive;
  --secondary-font: 'Ruslan Display', cursive;
}
